:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
  outline: transparent;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-cloud);
  background-color: var(--color-iris);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: transparent;
  transition: background-color var(--transition), 
              color var(--transition),
              border-color var(--transition),
              box-shadow var(--transition);
}

.btn:hover,
.btn:focus {
  background-color: var(--color-ocean);
  color: #ffffff;
  border-color: var(--color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.list-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/**-----Header-----**/
.header {
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: none;
}

.header-nav {
  display: none;
}
.header-list {
  display: none;
}
.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-container {
  margin: 0 auto;
  max-width: 428px;
  height: 100%;
}
.address-list {
  display: none;
}
.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu-icon-open {
  stroke: var(--color-navy-blue);
  transition: fill var(--transition);
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform var(--transition);
}

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 80px 40px 40px 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: var(--navi-blue);
  border-radius: 50%;
  transition: fill var(--transition), background-color var(--transition), border var(--transition);
  cursor: pointer;
  outline: transparent;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  fill: #FFFFFF;
  background-color: var(--color-ocean);
}

.mobile-menu-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-menu-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  transition: color var(--transition);
}
.mobile-menu-link.current {
  color: var(--color-ocean);
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.mobile-menu-link:is(:hover, :focus) {
  color: var(--color-ocean);
  outline: transparent;
}

.mobile-address {
  margin-bottom: 0 auto;
}
.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-contacts-mail {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin-bottom: 40px;
}

.mobile-contacts-tel{
  display: block;
  font-style: normal; 
  font-weight: 700;
  font-size: 35px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-iris);
}

.mobile-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: var(--color-cloud);
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.mobile-social-link:is(:hover, :focus) {
  background-color: var(--color-ocean);
}


.logo-studio-header {
  color: var(--color-grey);
}



/**-------Main-------**/
/* -----Hero---*/
.hero {
  max-width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-1-mob.jpg");
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-grey);
  padding: 112px 0;
  text-align: center;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-1-mob-2x.jpg");
  }
}

.caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--color-iris);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* ------ Section-two ------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.section-two-item {
  width: 100%;
}
.features-icon {
  display: none;
}
.section-two-list-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-two-list-text {
  font-weight: 500;
  letter-spacing: 0.02em;

}

/* ------ Section-About------ */
.section.about {
  padding-top: 0;
}

.section-about-list {
  display: flex;
  gap: 24px;
}
.section-about-item {
  width: calc((100% - 48px) / 3);
}

/**-------Team-------**/

.team {
  background: var(--color-cloud);
  width: 100%;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  background-color: #ffffff;
}
.team-container {
  width: 264px;
}

.team-list-title-text {
  text-align: center;
  padding: 32px 16px;
  margin: 0 auto;

}
.team-list-title {
  margin-bottom: 8px;
}
.team-list-text {
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: space-between;
}
.team-soc-list-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--color-ocean);
}

/**-------Customers-------**/
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-list-item {
    width: calc((100% - 16px)/2);
    
}

.customers-list-link {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  height: 88px;
  transition: border var(--transition);
}

.customers-icon {
    fill:#AFB1B8;
    transition: fill var(--transition);
}

.customers-list-link:hover,
.customers-list-link:focus {
    border: 1px solid var(--color-ocean);
}

.customers-list-link:hover .customers-icon,
.customers-list-link:focus .customers-icon{
    fill: var(--color-ocean);
}
    
/**-------Footer-------**/
.footer {
  background-color: var(--color-grey);
  padding: 100px 0;
}
.footer-container {
    display: flex;
}
.logo-studio-footer {
  color: var(--color-cloud);
  margin-bottom: 16px;
  display: inline-block;
}

.footer.logo {
  display: inline-block;
}

.footer-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--color-cornflower);
  text-align: left;
  width: 264px;
}

.soc-title {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-list-item {
  width: 40px;
  height: 40px;
}

.soc-footer-container {
  margin-right: auto;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.soc-icon{
  fill: #FFFFFF;
} 

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--color-green);
}

.subscribe {
  width: 100%;
}

.subscribe-title {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.subscribe-label {
  width: 100%;
}

.subscribe-form {
  display: flex;
  align-items: center;    
  justify-content: center;
  gap: 24px;
  width: 100%;
  flex-direction: column;
}
.subscribe-input {
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  width: 100%;
  height: 40px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  opacity: 0.3;
  border-radius: 4px;
  transition: border-color var(--transition);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-input:focus {
  outline: none;
  border-color: var(--color-iris);
}

.subscribe-button {
  padding: 8px 24px 8px 24px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.subscribe-button-icon {
  right: 24px;
  width: 24px;
  height: 24px;
  top: 50%;
  fill: #ffffff;
}


/*---------Portfolio---------- !*/
.section.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}
.projects-list {
  display: block;
}
.projects-list-item {
  background: #ffffff;
  
}
.projects-list-item:not(:last-child) {
  margin-bottom: 48px;
}
.projects-link {
  display: block;
  transition: box-shadow var(--transition);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.overlay {
  position: relative;
  overflow: hidden;
}
.projects-list-cover {
  position: absolute;
  top: 0;
  left: 0;
  weight: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--color-cloud);
  background-color: var(--color-iris);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.projects-link:is(:hover, :focus) .projects-list-cover {
  transform: translateY(0);
}

.list-btn {
  margin-bottom: 48px;
  border: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px 24px;
  max-width: 270px;
}

.btn-portfolio {
  padding: 8px 16px;
  background-color: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  color: var(--color-iris);
}
.projects-title {
  margin-bottom: 8px;
}

.projects-title-text {
  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-right: 16px;
  border-right: 1px solid var(--color-cornflower);
  border-left: 1px solid var(--color-cornflower);
  border-bottom: 1px solid var(--color-cornflower);
}

/* -----Backdrop ----*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  width: calc(100% - 36px);
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition); 
  padding: 72px 24px 24px 24px;
  max-width: 392px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  margin-left: auto;
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--transition), background-color var(--transition), ;
}

.modal-close:is(:hover, :focus) {
  fill: #ffffff;
  background-color: var(--color-ocean);
  border: 1px solid transparent;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin: 0 0 16px; 
}
.modal-field {
  margin-bottom:  8px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: #FCFCFC;
  color: var(--color-navy-blue);
  outline: transparent;
  transition: border-color var(--transition);
  font-size: 12px;
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);  
  transition: fill var(--transition);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--color-iris);
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  resize: none;
  background-color: #FCFCFC;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-navy-blue-modal);
  outline: transparent;
  transition: border-color var(--transition);
}
.textarea {
  margin-bottom: 16px;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--color-iris);
}
.checkbox-field {
  margin-bottom: 24px;
}

.btn-send {
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 169px;
  outline: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-check:checked + .check-text .checkbox{
  background-color: var(--color-ocean);
  border: none;
  fill: #f4f4fd;
} 

.chek-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--color-iris);
  outline: transparent;
}
.chek-link:focus {
  color: var(--color-ocean);
}

.check-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;  
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
}

.modal-check:focus + .check-text .checkbox {
  border-color: var(--color-ocean);
}

/* ----Media---- */
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-nav {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
.header {
  padding-bottom: 0px;
  padding-top: 0px;
}
.header-item-link {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  transition: color var(--transition);
}
  
.header-item-link:hover,
.header-item-link:focus {
  color: var(--color-ocean);
}

.header-item-link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: var(--color-ocean);
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--transition);
}

.header-item-link:hover::after,
.header-item-link:focus::after,
.header-item-link.current::after {
  opacity: 1;
}

.header-item-link.current {
  color: var(--color-ocean);
}

.contact {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  transition: color var(--transition);
}

.header-address {
  font-style: normal;
}

.contact:hover,
.contact:focus {
  color: var(--color-ocean);
}

.caption {
  font-size: 56px;
  line-height: 1.07;
  max-width: 500px;
  margin-bottom: 36px;
}
.hero {
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url("../images/people-office-1-tab.jpg");
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-1-tab-2x.jpg");
  }
}

.section-two-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
}
.section-two-item {
  width: calc((100% - 24px) / 2);
}
.section-two-list-title {
  text-align: left;
}

.team-container {
  width: 582px;
}

.team-list {
  column-gap: 24px;
  row-gap: 64px;
}

.team-list-item {
  width: calc((100% - 24px) / 2);
}
.customers-container {
  width: 582px;
}
.customers-list {
  column-gap: 24px;
}
    
.customers-list-item {
  width: calc((100% - 24px * 2)/3);
}


.footer-container {
  justify-content: start;
  text-align: left;
  width: 552px;
}

.subscribe-label {
  width: 264px;
}
.subscribe-form {
  align-items: left;    
  justify-content: start;
}

.subscribe-form {
  flex-direction: row;
}
.modal {
  max-width: 408px;
}
.section.portfolio {
  padding-bottom: 96px;
}
.list-btn {
  margin-bottom: 64px;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 24px;
  max-width: none;
}
.btn-portfolio {
  padding: 12px 24px;
} 
.projects-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}
.projects-list-item {
  margin-bottom: 0;
  width: calc((100% - 24px)/2);
}
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }  
  
  .mobile-menu-container {
    display: none;
  }
  
  .mobile-nav {
    display: none;
  }
  
  .section {
  padding-top: 120px;
  padding-bottom: 120px;
}

  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }
  .caption {
    max-width: 500px;
    margin-bottom: 48px;
  }
  .section-two-list {
    column-gap: 24px;
  }

  .section-two-item {
    width: calc((100% - 72px) / 4);
  }
  
  .section-two-list-title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-two-list-text {
    font-weight: 400;
    font-size: 16px;
  }

  .features-icon {
    display: flex;
    height: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background-color: var(--color-cloud);
  }  
  .team-container {
    width: 1128px;
  }
  .team-list {
    width: 100%;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
  .customers-container {
    width: 1128px;
  }
  .customers-list {
    gap: 24px;
    width: 100%;
  }

  .customers-list-item {
    width: calc((100% - 120px)/6);
  }
.footer-container {
  justify-content: space-between;
  width: auto;
}
  .logo-footer-container {
    margin-right: 120px;
  }
.subscribe {
  width: auto;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 40px;
}
.address-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.logo-studio-header {
  margin-right: 76px;
}

.header-item-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--color-grey);
    transition: color var(--transition);
  }

.header-item-link:hover,
.header-item-link:focus {
  color: var(--color-ocean);
}
  
.header-item-link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: var(--color-ocean);
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--transition);
}

.header-item-link:hover::after,
.header-item-link:focus::after,
.header-item-link.current::after {
  opacity: 1;
}

.header-item-link.current {
  color: var(--color-ocean);
}

.contact {
  font-size: 16px;
}

.header-address {
  font-style: normal;
}

.contact:hover,
.contact:focus {
  color: var(--color-ocean);
}

.projects-list-item {
  width: calc((100% - 48px)/3);
}
.hero {
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url("../images/people-office-1.jpg");
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-1-2x.jpg");
  }
}
.section.portfolio {
  padding-top: 100px;
}
}



@media screen and (max-width: 1157px) {
  .about {
    display: none;
  }
  .footer-container {
    flex-wrap: wrap;
    gap: 72px 24px;
    margin: 0 auto;
}

  .soc-footer-container {
    margin-right: 0;
  }

}

@media screen and (max-width: 767px) {
  .about {
    display: none;
  }

  .footer-container {
    gap: 72px;
    justify-content: center;
    text-align: center;
}
}

